### AIM

To apply descriptive statistical techniques to summarize and interpret the given dataset using Python libraries.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("datasets/thyroid.csv")

In [3]:
df["Age"].describe()

count    383.000000
mean      40.866841
std       15.134494
min       15.000000
25%       29.000000
50%       37.000000
75%       51.000000
max       82.000000
Name: Age, dtype: float64

In [4]:
mean_age = df["Age"].mean()
median_age = df["Age"].median()
mode_age = df["Age"].mode()[0]
std_age = df["Age"].std()
var_age = df["Age"].var()
min_age = df["Age"].min()
max_age = df["Age"].max()

print("Mean Age:", mean_age)
print("Median Age:", median_age)
print("Mode Age:", mode_age)
print("Standard Deviation:", std_age)
print("Variance:", var_age)
print("Minimum Age:", min_age)
print("Maximum Age:", max_age)

Mean Age: 40.866840731070496
Median Age: 37.0
Mode Age: 31
Standard Deviation: 15.134493807858814
Variance: 229.05290282011677
Minimum Age: 15
Maximum Age: 82

In [5]:
range_age = max_age - min_age

q1 = df["Age"].quantile(0.25)
q3 = df["Age"].quantile(0.75)

iqr = q3 - q1

print("Range:", range_age)
print("Interquartile Range (IQR):", iqr)

Range: 67
Interquartile Range (IQR): 22.0

In [6]:
df["Gender"].value_counts()

Gender
F    312
M     71
Name: count, dtype: int64

In [7]:
m = df["Smoking"].value_counts()
n = df["Stage"].value_counts()
o = df["Risk"].value_counts()
p = df["Recurred"].value_counts()

print("Smoking Value Counts:\n", m)
print("\nStage Value Counts:\n", n)
print("\nRisk Value Counts:\n", o)
print("\nRecurred Value Counts:\n", p)

Smoking Value Counts:
 Smoking
No     334
Yes     49
Name: count, dtype: int64

Stage Value Counts:
 Stage
I      333
II      32
IVB     11
III      4
IVA      3
Name: count, dtype: int64

Risk Value Counts:
 Risk
Low             249
Intermediate    102
High             32
Name: count, dtype: int64

Recurred Value Counts:
 Recurred
No     275
Yes    108
Name: count, dtype: int64

In [8]:
df["Gender"].value_counts(normalize=True) * 100

Gender
F    81.462141
M    18.537859
Name: proportion, dtype: float64

In [9]:
# Since only one numeric column exists:
df[["Age"]].corr()

     Age
Age  1.0